{% assign post             = include.post             %}
{% assign no_link_title    = include.no_link_title    %}
{% assign no_excerpt       = include.no_excerpt       %}
{% assign hide_image       = include.hide_image       %}
{% assign hide_description = include.hide_description %}


<article id="post{{ post.id | replace:'/','-' }}" class="page post mb6" role="article" >
  <header>
    <!--제목-->
    <h1 class="post-title flip-project-title">
      {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="flip-title">{% endunless %}
        {{ post.title }}
      {% unless no_link_title %}</a>{% endunless %}
    </h1>
    <!--부제목-->
    <h2 class="post-title flip-project-shubtitle">
      {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="flip-subtitle">{% endunless %}
        {{ post.subtitle }}
      {% unless no_link_title %}</a>{% endunless %}
    </h2>
    <!--카테고리-->
    <div class="post-date">
      {% assign category_start     = "카테고리 : "     | default:" in " %}
      
      {% assign tag_start          = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hashtag : #"          | default:" - " %}
      {% assign category_separator = site.data.strings.category_separator | default:" >> " %}
      {% assign tag_separator      = " #"     | default:". "  %}

    <span class="ellipis mrl">
      {% include components/tag-list.html tags=post.categories meta=site.featured_categories start_with=category_start separator=category_separator %}
      {% include components/tag-list.html tags=post.tags meta=site.featured_tags start_with=tag_start separator=tag_separator %}
      <!--년월일-->
      <br>
      {% assign post_format = "%Y년 %m월 %d일" | default:"%Y %m %d" %}
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date:post_format }}</time>
      <a href="https://hits.seeyoufarm.com" target="_blank">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjygwon.github.io{{ page.url }}&count_bg=%2304595A&title_bg=%23198E92&icon=&icon_color=%23E7E7E7&title=Visited&edge_flat=false" /> </a>
      <br>
    </span>
    </div>
    {% assign alt = false %}
    {% unless hide_image %}{% if post.image %}
      {% unless no_link_title %}<a href="{{ post.url | relative_url }}" class="no-hover no-print-link {% unless post.hide_image %}flip-project{% endunless %}" tabindex="-1">{% endunless %}
        <div class="lead aspect-ratio sixteen-nine flip-project-img">
          {% include_cached components/hy-img.html img=post.image alt=post.title width=864 height=486 %}
        </div>
      {% unless no_link_title %}</a>{% endunless %}
      {% assign alt = '' %}     

    {% endif %}{% endunless %}
    <br>
    {% include components/message.html text=post.description hide=hide_description alt=alt %}
   
  </header>
  
  
  <div class="markdown-body">
    
      <div class="toc">
        <a href="#">&lt;맨 위로&gt;</a>
        {% include toc.html html=post.content %}    
      </div>
  {% if no_excerpt %}
    {{ post.content }}
  {% else %}
    {{ post.excerpt }}
    
    
    
    
    {% capture post_title %}<a class="heading flip-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>{% endcapture %}
    {% assign text = site.data.strings.continue_reading | default:"Continue reading <!--post_title-->" %}
    
    <!--footer-->
    <footer>
      <p class="read-more">
        {{ text | replace:"<!--post_title-->", post_title }}
      </p>

    </footer>
  {% endif %}
</div>
</article>



<script>
$(document).ready(function(){ 
  var currentPosition = parseInt($(".toc").css("top")); 
  $(window).scroll(function() { 
    var position = $(window).scrollTop(); 
    $(".toc").stop().animate({"top":position+currentPosition+"px"},100); 
  }); 
});
</script>