---
layout: base
---
<article class="post-article">
    <div class="toc">
      <a href="#">&lt;맨 위로&gt;</a>
      {% include toc.html html=content %}
    </div>
{% include_cached components/post.html post=page no_link_title=true no_excerpt=true hide_image=page.hide_image hide_description=page.hide_description %}
</article>

{% include analytics.html %}

{% include components/page-button.html %}
{% include_cached components/about.html author=page.author %}

{% include components/related-posts.html %}
{% include components/comments.html %}

